:host > .loginAlign {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/drops-6392473.jpg');
    background-size: cover;
    flex-direction: column;
}

:host > .loginAlign > mat-card {
    width: max-content;
}

:host > .loginAlign > mat-card > h1 {
    margin-bottom: 2rem;
    text-align: center;
}

:host > .loginAlign > mat-card > p {
    max-width: 100%;
}

:host > .loginAlign > mat-card > form > mat-form-field {
    width: 100%;
}

:host > .loginAlign > mat-card > form > button {
    float: right;
}

:host > .loginAlign > mat-card > mat-progress-bar {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.4rem 0.4rem 0 0;
}

:host > .loginCopyright {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

:host > .loginCopyright > p {
    box-shadow: rgba(255, 255, 255, 0.8) 0 0 0.4rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.2rem;
    margin: 1rem;
    padding: 0.2rem 0.6rem; 
    width: fit-content;
}