<div class="loginAlign">
    <mat-card class="loginInner">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input id="username" matInput formControlName="username">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input id="password" type="password" matInput formControlName="password">
                    <mat-icon matSuffix>key</mat-icon>
                </mat-form-field>
            </p>

            <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
    </mat-card>
</div>