:host .loginAlign {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: darkgreen;*/
}

:host .loginAlign > .loginInner {
    width: max-content;
}