<mat-toolbar id="toolbar" color="primary">
    <button type="button" mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <span>{{ title }}</span>
    <span class="flex-expand"></span>
    <app-debug-menu></app-debug-menu>
    <a mat-icon-button [href]="apiDocs" target="_blank">
        <mat-icon>api</mat-icon>
    </a>
    <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<mat-progress-bar *ngIf="api.loading" mode="indeterminate"></mat-progress-bar>

<mat-drawer-container class="flex-expand">
    <mat-drawer #drawer mode="side">
        <p>Placeholder :P</p>
    </mat-drawer>

    <mat-drawer-content id="content">
        <app-provision-indicator></app-provision-indicator>

        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Your IP Addresses
                    </mat-panel-title>
                    <mat-panel-description>
                        Using {{ userIPs.length }} out of {{ userIPsMax }} IP addresses
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-ip-table [data]="userIPs" (deleteEvents)="deleteIP($event)"></app-ip-table>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Global IP Addresses
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-ip-table [data]="globalIPs" [ro]="true"></app-ip-table>
            </mat-expansion-panel>
        </mat-accordion>

        <span class="flex-expand"></span>

        <button id="addbtn" mat-fab *ngIf="userIPs.length < userIPsMax" (click)="openIPAssistant()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-drawer-content>
</mat-drawer-container>