:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#toolbar {
    flex-shrink: 0; /* Never allow the toolbar to shrink */
    display: flex;
}

#toolbar-btn {
    margin-right: 1em;
}

.flex-expand {
    flex-grow: 1;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#addbtn {
    position: sticky;
    bottom: calc(2em + 1em); /* +1em due to the padding of the wrapper */
    right: 2em;
    margin-left: auto;
}

span.nav-icon-space {
    width: 1em;
}

span.transparent-until-hover {
    transition: opacity 1s;
    opacity: 0.6;
}

span.transparent-until-hover:hover {
    opacity: 1;
}

.sidenav-text {
    margin: 0.5em;
}

mat-nav-list {
    /* Fix that strange alignment issue */
    margin: 0;
    padding: 0;
}

a.scope-list-element {
    margin-left: 0.5em;
    text-decoration: none;
    color: grey;
}